@page "/"
@using BlzLogin.Components;


<AuthorizeView>
    <Authorized Context="AuthenticationState">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <!-- <button class="btn mag-btn" style="width:250px; height:250px">test</button>-->
                    <a href="@($"jobs/new")" class="btn add-btn" style="width:250px; height:250px"></a>
                </div>
                <div class="col-md-3">
                    <a href="@($"jobs/")" class="btn edit-btn" style="width:250px; height:250px"></a>
                </div>
                <div class="col-md-3">
                    <a href="@($"jobs/list")" class="btn list-btn" style="width:250px; height:250px"></a>
                </div>
                <div class="col-md-3">
                    <a href="@($"jobs/")" class="btn mag-btn" style="width:250px; height:250px"></a>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3" style="margin-top: 10px; text-align:center">
                    <!-- <button class="btn mag-btn" style="width:250px; height:250px">test</button>-->
                    Add a new job
                </div>
                <div class="col-md-3" style="margin-top:10px; text-align:center">
                    Edit a job
                </div>
                <div class="col-md-3" style="margin-top:10px; text-align:center">
                    View job list
                </div>
                <div class="col-md-3" style="margin-top:10px; text-align:center">
                    Search for a job
                </div>
            </div>
        </div>



    </Authorized>
    <NotAuthorized>
        <RedirectToLogin/>
    </NotAuthorized>
</AuthorizeView>

<style>
    .mag-btn {
        background-color: transparent;
        background-image: url('/img/magnifying-glass.png');
    }

    .edit-btn {
        background-color: transparent;
        background-image: url('/img/pencil.png');
    }

    .list-btn {
        background-color: transparent;
        background-image: url('/img/spreadsheet.png');
    }

    .add-btn {
        background-color: transparent;
        background-image: url('/img/add.png');
    }
</style>