@page "/"
@using BlzLogin.Components


<AuthorizeView>
    <Authorized Context="AuthenticationState">
        <h1>If you're authorized you can see this</h1>
        <h2>Welcome to the app</h2>



    </Authorized>
    <NotAuthorized>
        <RedirectToLogin/>
    </NotAuthorized>
</AuthorizeView>


@code{

}
